<div class="dialog">
  <div class="dialog__type">Company Type - <span>{{ data[0].type }}</span></div>
  <div class="dialog__name">Company Name - <span>{{ data[0].name }}</span></div>
  <ul class="dialog-stats">
    <li class="dialog-stats__item" *ngFor="let stat of stats; let idx = index;">
      <div class="stat">{{ weekDays[idx] }} - {{ stat }}</div>
    </li>
  </ul>
  <div class="dialog-actions">
    <button mat-stroked-button color="primary" (click)="dialogRef.close()">Close</button>
  </div>
</div>
