.dialog {
  &__type, &__name {
    font-size: 14px;

    span {
      font-weight: bold;
    }
  }
  &__name {
    margin-top: 5px;
  }
  .dialog-stats {
    padding-left: 0;

    &__item {
      .stat {
        text-transform: uppercase;
      }
    }
  }

  .dialog-actions {
    text-align: right;
  }
}
