<div class="chart">
  <div class="filtered">
    <mat-form-field>
      <mat-select [(ngModel)]="type" (selectionChange)="selectCategory(type)">
        <mat-option value="All Categories">All Categories</mat-option>
        <mat-option *ngFor="let option of companies | filterUnique" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select [(ngModel)]="name" (selectionChange)="selectName(name)">
        <mat-option value="All Names">All Names</mat-option>
        <mat-option *ngFor="let option of companies" [value]="option.name">
          {{ option.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <canvas id="myChart" #chart></canvas>

  <div class="total">
    <span>Month: {{ monthBalance }}</span>
    <button mat-raised-button color="primary" *ngIf="isEntry" (click)="showEntryName()">Open</button>
    <span>Total: {{ balance }}</span>
  </div>
</div>
